@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
body {
    background-color: #5ca0dd;
    font-family: Fredoka;
}
.dangboi {
    background-color: #4d94ff;
    font-family: 'Inconsolata', monospace;
}

.copyright {
    background-color: #dd685c;
    font-family: Honk;
}